html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

header {
  position: fixed;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  z-index: 1;
  background-color: black;
}

#logo {
  float: left;
  height: 50px;
  margin-top: 10px;
  margin-left: 10px;
}

nav {
  float: right;
  height: auto;
  width: auto;
  margin-top: 20px;
  margin-right: 10px;
}

nav a {
  color: seashell;
  text-decoration: underline;
  margin-left: 10px;
  margin-right: 10px;
}

main {
  position: absolute;
  margin-top: 70px;
  width: 100%;
  height: auto;
  z-index: 0;
}

#mission {
  background-image: url(../images/img-mission-background.jpg);
  background-repeat: no-repeat;
  height: 700px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

#mission div {
  background-color: black;
  position: relative;
  top: 40%;
  width: 1200px;
  height: fit-content;
}

#featured-tea {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#featured-tea div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#featured-tea figure {
  margin: 15px;
}

#featured-tea img {
  height: 200px;
  width: 300px;
  margin-bottom: 10px;
}

#locations {
  background-image: url(../images/img-locations-background.jpg);
  background-repeat: no-repeat;
  height: 500px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4%;
}

#locations h2 {
  margin-bottom: 15px;
}

#addresses {
  display: flex;
  justify-content: center;
}

.address {
  background-color: black;
  opacity: 1;
  width: 300px;
  margin-right: 20px;
  margin-left: 20px;
}