body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

header {
  position: fixed;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
}

#logo {
  float: left;
  height: 50px;
  margin-top: 10px;
  margin-left: 10px;
}

nav {
  float: right;
  height: auto;
  width: auto;
  margin-top: 20px;
  margin-right: 10px;
}

nav a {
  text-decoration: underline;
  margin-left: 10px;
  margin-right: 10px;
}

