body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

header {
  position: fixed;
  height: 69px;
  width: auto;
  border-bottom: 1px solid seashell;
}

#logo {
  display: block;
  float: left;
  height: 50px;
  margin-left: 10px;
}

nav {
  height: auto;
  text-align: right;
  text-decoration: underline;
}